.links {
  // @apply flex gap-6 pt-3

  display: flex;
  gap: 1.6rem;
  padding-top: 10px;

  a {
    @apply opacity-50 relative z-20;
    opacity: 0.5;
    position: relative;
    z-index: 20;
  }

  a:hover {
    @apply hover:opacity-100 hover:text-brand;
    color: var(--brand);
    opacity: 1;
  }
}
